{
  "parser": "@babel/eslint-parser",
  "extends": ["standard", "standard-jsx", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": "error",
    "eqeqeq": ["error", "smart"],
    "no-debugger": "off",
    "space-before-function-paren": "off",
    "jsx-quotes": [2, "prefer-single"],
    "camelcase": [
      "error",
      { "ignoreDestructuring": true, "properties": "never" }
    ],
    // "no-console": ["warn", { "allow": ["warn"] }],
    "no-multi-spaces": "error",
    "max-len": ["error", { "code": 150 }],
    "wrap-iife": ["error", "outside"]
  }
}